<h3 class="page-header">Dicionário</h3>

<ul class="list-group">
    {% for word in dictionary.toArray() %}
        <li class="list-group-item">
            {{ word }}
            <span class="pull-right btn-xs btn btn-danger remove-word" 
                  title="Remover '{{ word }}' do dicionário"
                  data-remove="{{ word }}" 
                  onclick="removeWord(this)">
                <i class="fa fa-fw fa-remove"></i>
            </span>
        </li>
    {% else %}
        <li class="help-block">
            Não há palavras no dicionário...
        </li>
    {% endfor %}
</ul>